body {
  background-color: #eee;
}

.nav-link {
  border-radius: 0px !important;
  transition: all 0.5s;
}

.nav-link small {
  font-size: 12px;
}

.nav-link:hover {
  background-color: #dfd0d040 !important;
}

.nav-link .fa {
  color: white;
  transition: all 1s;
  font-size: 20px;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}
